venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.db
.DS_Store
data/
docs/knowledge_base/
models/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
data/raw/
data/processed/
*.csv
*.json
Thumbs.db
.vscode/